@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Default to dark text */
  --background-start-rgb: 225, 230, 242; /* Light grey */
  --background-end-rgb: 225, 230, 242; /* Light grey */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animateIn {
  animation: slideInFromRight 1s ease-out;
}

.fade-in {
  @apply transition-opacity duration-700 ease-in opacity-0 hover:opacity-100;
}